Package: ${application.name}
Version: ${project.version}
Section: misc
Priority: low
Architecture: all
Description: The happy chameleon project.
Maintainer: chris-Ka@web.de
Depends: default-jre | java8-runtime